<% include common/header.htm %>
    <div class="panel panel-default">
        <table width="100%" class="table">
            <tr>
                <th>用户名</th>
                <th>密码</th>
                <th>_id</th>
            </tr>
            <tr>
                <td>
                    <%= my.name %>
                </td>
                <td>
                    <%= my.password %>
                </td>
                <td>
                    <%= my._id %>
                </td>
            </tr>
        </table>
    </div>
    <% include common/footer.htm %>
