<% include ../common/header.htm %>

<form method="post">

	 <div class="form-group">
	    <label for="exampleInputEmail1">标题</label>
	    <input type="text" class="form-control" id="exampleInputEmail1" placeholder="title" name="title" required="" autofocus="">
	 </div>

	 <div class="form-group">
	    <label for="exampleInputEmail1">内容</label>
	    <textarea class="form-control" rows="3" name="content" placeholder="content" required="" autofocus=""></textarea>
	 </div>

	<input type="submit" class="btn btn-default">	
</form>

<% include ../common/footer.htm %>